{%extends "dashboard/basic.html" %}
{% block title %}Scan{% endblock %}
{%block css%}
body{
    margin-top:120px;
}
 .scanner-container {
      max-width: 400px;
      margin: 50px auto;
      text-align: center;
    }
    .form-control {
      margin-top: 15px;
      margin-left:487px;
       width:25%;
      
    }
  
    .btn {
      margin-top: 20px;
    }
    @media (max-width:768px){
      .form-control{
        width:75%;
        margin-left:56px;
      }
    }


{%endblock%}
{% block body %}
<div class="container text-center">
  <h3>Enter Barcode</h3>
  <form method="POST">
    {% csrf_token %}
    <input type="text" name="barcode" class="form-control" placeholder="Enter barcode manually">
    <button type="submit" class="btn btn-primary mt-3">Search</button>
  </form>

  {% if error %}
    <div class="alert alert-danger mt-4">{{ error }}</div>
  {% endif %}

  {% if product %}
  <div class="card mt-5 mx-auto" style="max-width: 400px;">
    <div class="card-header">
      <strong>{{ product.name }}</strong> ({{ product.category }})
    </div>
    <div class="card-body">
      <img src="{{ product.image.url }}" alt="Product Image" class="img-fluid mb-3" style="max-width: 200px;">
      
      <p><strong>Barcode:</strong> {{ product.barcode }}</p>
      <p><strong>Calories:</strong> {{ product.calories }}</p>
      <p><strong>Sugar:</strong> {{ product.sugar }}</p>
      <p><strong>Fat:</strong> {{ product.fat }}</p>
      
      <p><strong>Health Status:</strong>
        {% if is_healthy %}
          <span class="text-success">Healthy ✅</span>
        {% else %}
          <span class="text-danger">Unhealthy ❌</span>
        {% endif %}
      </p>
      <p><strong>Reason:</strong> {{ reason }}</p>
    </div>
  </div>
{% endif %}


</div>
{% endblock %}
 <script>
setTimeout(() => {
    document.body.onclick = () => location.reload();
}, 600000); 
</script>
{%block js%}
{%endblock%}